:root {
	color-scheme: dark light;

	--space-xxs: .25rem;
	--space-xs: .5rem;
	--space-sm: 1rem;
	--space-md: 1.5rem;
	--space-lg: 2rem;
	--space-xl: 3rem;
	--space-xxl: 6rem;

	/* destructure brand channels */
	--hue: 200;
	--saturation: 100%;
	--lightness: 50%;

	/* build colors with props */
	--brand: hsl(var(--hue) calc(var(--saturation) / 2) var(--lightness));

	--text1: hsl(var(--hue) 15% 85%);
	--text2: hsl(var(--hue) 15% 65%);
	--text3: hsl(var(--hue) 25% 65%);
	--text4: hsl(var(--hue) 60% 75%);
	--text5: hsl(var(--hue) 60% 55%);

	--surface0: hsl(var(--hue) 10% 8%);
	--surface1: hsl(var(--hue) 10% 10%);
	--surface2: hsl(var(--hue) 10% 15%);
	--surface3: hsl(var(--hue) 5% 20%);
	--surface4: hsl(var(--hue) 5% 25%);
	--surface5: hsl(var(--hue) 11% 9%);

	--box-shadow1: hsl(var(--hue) 10% 11%);
	--box-shadow2: hsl(var(--hue) 10% 12%);
}

@media (prefers-color-scheme: light) {
	:root {
		--brand: hsl(var(--hue) var(--saturation) var(--lightness));

		/* very dark brand blue */
		--text1: hsl(var(--hue) var(--saturation) 10%
				/* lower is darker */
			);

		--text2: hsl(var(--hue) calc(var(--saturation) / 2) 30%);

		--text3: hsl(var(--hue) calc(var(--saturation) / 2) 30%);
		/* TODO: Change saturation for light theme */

		/* very bright brand white */
		--surface0: hsl(var(--hue) calc(var(--saturation) / 6) 96%);

		--surface1: hsl(var(--hue) calc(var(--saturation) / 6) 90%);

		--surface2: hsl(var(--hue) calc(var(--saturation) / 8) 99%);

		--surface3: hsl(var(--hue) calc(var(--saturation) / 8) 96%);

		--surface4: hsl(var(--hue) calc(var(--saturation) / 8) 85%);

		--box-shadow1: hsl(var(--hue) calc(var(--saturation) / 6) 92%);

		--box-shadow2: hsl(var(--hue) calc(var(--saturation) / 6) 93%);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	block-size: 100%;
}

body {
	min-block-size: 100%;
	font-family: system-ui, sans-serif;
	padding-block-start: var(--space-xs);
	padding-block-end: var(--space-xs);
	color: var(--text1);
	background: var(--surface0);
	transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

h1 {
	font-size: var(--space-xl);
}

h2 {
	font-size: var(--space-lg);
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
}

h1 {
	padding-block: var(--space-sm);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-content: flex-start;
	place-content: center;
	padding: var(--space-xs);
	gap: var(--space-xs);
}

.playing-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container {
	padding: var(--space-xl);
	padding-block-end: var(--space-xxl);
	border-radius: var(--space-sm);
	border: 1px solid var(--surface4);
	background: var(--surface1);
	box-shadow: 0px 0px 5px 0px var(--box-shadow1);
	transition: background-color 0.5s ease-in-out, box-shadow 0.75s ease-in-out;
}

#container-left {
	min-height: 39em;
	max-height: 39em;
	padding: var(--space-md);
	padding-block-end: 0;
	overflow: auto;
	min-width: 15em;
}

#container-right {
	min-height: 39em;
	max-height: 39em;
	padding: var(--space-md);
	padding-block-end: 0;
	overflow: auto;
	min-width: 15em;
}

.alert-box {
	min-height: 28em;
	max-height: 28em;
	min-width: 15em;
	max-width: 25em;
	padding: var(--space-md);
	padding-block-end: 0;
	overflow: auto;
}

.chess-turn {
	display: block;
	padding: var(--space-xs);
	border-radius: var(--space-sm);
	border: 1px solid var(--surface4);
	background: var(--surface5);
	box-shadow: 0px 0px 5px 0px var(--box-shadow1);
	transition: background-color 0.5s ease-in-out, box-shadow 0.75s ease-in-out;
	font-size: 12px;
	cursor: pointer;
	margin-bottom: 5px;
	max-width: 25em;
}

.alert {
	display: flex;
	justify-content: center;
	padding: var(--space-xs);
	border-radius: var(--space-sm);
	border: 1px solid var(--surface4);
	background: var(--surface5);
	box-shadow: 0px 0px 5px 0px var(--box-shadow1);
	transition: background-color 0.5s ease-in-out, box-shadow 0.75s ease-in-out;
	font-size: 12px;
	margin-bottom: 5px;
	max-width: 25em;
	color: var(--text3);
}

.chess-turn-field {
	padding-right: 10px;
}

.turn-number {
	color: var(--text1);
	font-weight: 600;
}

.white-move-label {
	color: var(--text2);
}

.black-move-label {
	color: var(--text2);
}

form {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	align-content: flex-start;
	max-inline-size: 89vw;
}

section {
	padding-block-end: var(--space-xxs);
}

button {
	margin-block-start: var(--space-xs);
	box-shadow: 0px 0px 5px 1px var(--box-shadow1);
	padding: var(--space-xs);
	padding-block: var(--space-xxs);
	border-radius: var(--space-xxs);
	font-size: var(--space-sm);
	color: var(--text1);
	transition: box-shadow 1s ease-in-out, color 1s ease-in-ou;
}

input {
	margin-inline-end: var(--space-xxs);
	height: var(--space-lg);
	place-self: center;
	box-shadow: 0px 0px 15px 1px var(--box-shadow1);
	border-radius: var(--space-xxs);
	font-size: var(--space-sm);
	color: var(--text1);
	outline-offset: 1px;
	transition: box-shadow 1s ease-in-out, color 1s ease-in-ou;
}

.positive {
	color: #6cdd96;
}

.very-positive {
	color: #43ee82;
}

.negative {
	color: #dd6c6c;
}

.very-negative {
	color: #ee4343;
}

.neutral {
	color: #dddddd;
}

.alert-midgame {
	color: var(--text4);
}

.alert-endgame {
	color: var(--text5);
}

.alert-key {
	color: var(--text1);
}

section {
	display: grid;
	gap: var(--space-sm);
}

header {
	display: grid;
	gap: var(--space-xxs);
}

fieldset {
	border: 1px solid var(--surface4);
	background: var(--surface2);
	padding: var(--space-xs);
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	gap: var(--space-xxs);
	border-radius: var(--space-sm);
	overflow: hidden;
	box-shadow: 0px 0px 15px 5px var(--box-shadow1);
	transition: background-color 0.1s ease-in-out, box-shadow 0.5s ease-in-out;
}

.fieldset-item {
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	padding: var(--space-xxs);
}

fieldset:focus-within {
	box-shadow: 0px 0px 15px 5px var(--box-shadow2);
	transition: box-shadow 1s ease-in-out;
}

.fieldset-item:focus-within {
	background: var(--surface2);
	transition: background-color 1s ease-in-out;
}

.sm-stack {
	display: flex;
	flex-direction: column;
	align-content: flex-start;

}

.highlight {
	color: var(--text3);
	transition: color 1s ease-in-out;
}

.options {
	padding-block-start: var(--space-xxs);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-content: flex-start;
	max-inline-size: 89vw;
}

.options button {
	width: 10rem;
}

#buttons button {
	margin-block-start: 0;
}

li {
	font-size: var(--space-md);
	list-style: none;
	margin-block-start: var(--space-xxs);
}

li::before {
	content: "» ";
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: white;
	border-radius: var(--space-md);
}

::-webkit-scrollbar-track {
	background: #272729;
	border-radius: var(--space-md);
}

::-webkit-scrollbar-thumb {
	background: #808080;
	;
	border-radius: var(--space-md);
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
	background: #747474;
	border-radius: var(--space-md);
}

#history_container {
	display: flex;
	width: 60%;
	max-width: 60%;
	overflow-x: scroll;
	flex-wrap: nowrap;
	max-height: 3rem;
	overflow-y: hidden;
	white-space: nowrap;
	box-shadow: 6px 0 4px -4px #222, -6px 0 4px -4px #222;
}

#history {
	width: 100%;
	white-space: nowrap;
}

.turn {
	width: 6.5rem;
	height: 2.5rem;
	font-size: smaller;
	border: 1px solid var(--surface4);
	box-shadow: 0px 0px 5px 0px var(--box-shadow1);
	display: inline-block;
	cursor: pointer;
}

#buttons {
	gap: 10px;
	display: flex;
	justify-content: center;
	width: 100%;
}

#flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub-container {
	width: 25vw;
	height: 40vw;
	max-width: 40vw;
	padding: var(--space-xl);
	padding-block-end: var(--space-xxl);
	border-radius: var(--space-sm);
	border: 1px solid var(--surface4);
	background: var(--surface5);
	box-shadow: 0px 0px 5px 0px var(--box-shadow1);
	transition: background-color 0.5s ease-in-out, box-shadow 0.75s ease-in-out;
	text-align: center;
}

.sub-container div {
	font-size: 1.25vw;
}

.left {
	position: absolute;
	left: 1vw;
	top: 7vw;
}

.right {
	position: absolute;
	right: 1vw;
	top: 7vw;
}

.info-label {
	font-size: var(--space-sm);
	color: rgba(255, 255, 255, 0.2);
}

#type-2-eval {
	border-radius: var(--space-sm);
	border: 1px solid var(--surface4);
	background: var(--surface2);
	padding: var(--space-xxs);
	margin: var(--space-xxs);
	display: flex;
	box-shadow: 0px 0px 5px 2px var(--box-shadow1);
	width: 5vw;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.game-hint {
	display: flex;
	justify-content: center;
	font-style: italic;
	font-size: 12px;
	cursor: pointer;
}
